{% extends "layout.html" %}
{% block content %}

<form method="POST" action="">
        <div class="form-group">
            {{ form.sort_days.label(class="form-control-label")}}
            {% if form.sort_days.errors %}
                {{ form.sort_days(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sort_days.errors %}
                    <span>
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ form.sort_days(class="form-control-sm") }}
            {% endif %}

            <div class="btn">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
</form>

<!-- Scan form -->

<div class="content-section btn-outline">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form_barcode.hidden_tag() }}
        <fieldset class="form-group input-group">
            <div class="form-group">
                {{ form_barcode.picture.label() }}
                {{ form_barcode.picture(class="form-control-file input-group") }}
                {% if form_barcode.picture.errors %}
                    {% for error in form_barcode.picture.errors %}
                        <span class="text-danger"> {{ error }} </span>
                    {% endfor %}
                {% endif %}

            </div>
            {{ form_barcode.submit(class="btn btn-outline-info") }}

        </fieldset>
        <!-- <div class="form-group"> -->

        <!-- </div> -->
    </form>
</div>

{% if barcode_data %}
<div class="content-section bg-success">
    {% for barcode_datum in barcode_data %}
      <h6 class="text-white"> {{ barcode_datum.id }} </h6>
      <h6 class="text-white"> {{ barcode_datum.type }} </h6>
      <h6 class="text-white"> {{ barcode_datum.data }} </h6>
      <h6 class="text-white"> {{ barcode_datum.timestamp }} </h6>


    {% endfor %}
</div>
{% endif %}




<!-- search query form -->
<!-- <form method="POST" action="">
        <div class="form-group">
            {{ search_form.search_query.label(class="form-control-label")}}
            {% if search_form.search_query.errors %}
                {{ search_form.search_query(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in search_form.search_query.errors %}
                    <span>
                    {{ error }}
                    </span>
                    {% endfor %}
                </div>
            {% else %}
            {{ search_form.search_query(class="form-control-sm") }}
            {% endif %}

            <div class="btn">
              {{ search_form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
</form> -->




<!-- DISPLAY POSTS -->
{% for post in posts.items %}
  <article class="media content-section">
  <!-- <img class="rounded-circle article-img " src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> -->
  <div class="media-body">
    <div class="article-metadata">
        <a class="mr-2 text-uppercase font-weight-bold" href="{{ url_for('post', post_id=post.id) }}"> {{ post.material_id }}</a>
        <small class="text-muted">{{ post.date_posted.strftime("%d/%-m/%-y, %-I:%M %p")}}</small>
        <small class="font-weight-light text-success ml-1">{{ post.author.name }}</small>

      </div>
      <div class="container text-sm">
        <div class="row">
          <div class="col-3">
            {{ post.numbers_issued }} {{post.unit}}
          </div>
          <div class="col-2">
            {{ post.person }}
          </div>
        <div class="col-2">
          {{ post.location }}
        </div>
        <div class="col">
          <small> {{ post.type_issued }}</small>
        </div>
      </div>

      </div>
    </div>
  </article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if posts.page == page_num %}
      <a class="btn btn-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a>
    {% else %}
      <a class="btn btn-outline-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}
{% if is_empty %}

  No Post in the selected days! Please select some other date.
{% endif %}
{% endblock content %}
