{% extends "layout.html" %}
{% block content %}

<!-- DISPLAY POSTS -->

<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Material</th>
      <th scope="col">Teeth</th>
      <th scope="col">Qty</th>
      <th scope="col">Unit</th>
      <th scope="col">Dia</th>
      <th scope="col">DP</th>
      <th scope="col">Pitch</th>
      <th scope="col">Module</th>
      <th scope="col">Storage</th>
      <th scope="col">ID</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
    {% for item in stock_data.items %}
    <tr>
      <!-- <th scope="row">{{item.id}}</th> -->
      <td>{{item.material_type}}</td>
      <td>{{item.teeth}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.units}}</td>
      <td>{{item.diameter_size}}</td>
      <td>{{item.dp}}</td>
      <td>{{item.pitch}}</td>
      <td>{{item.module_value}}</td>
      <td>{{item.storage_location}}</td>
      <td>{{item.unique_id}}</td>
      <td>{{item.date_posted.strftime("%d-%m-%Y")}}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% for page_num in stock_data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if stock_data.page == page_num %}
      <a class="btn btn-dark mb-4" href="{{ url_for('stock', page=page_num) }}">{{page_num}}</a>
    {% else %}
      <a class="btn btn-outline-dark mb-4" href="{{ url_for('stock', page=page_num) }}">{{page_num}}</a>
    {% endif %}
  {% else %}
    ...
  {% endif %}
{% endfor %}



{% endblock content %}
